
<%- include('../partials/header') %>

<div>Before adding, please ensure that the Enroute is not in the following list:</div>
<section id="badge-container">
  <% enroutes.forEach(function(p) { %>
    <article class="badge"><%= p.alt %></article>
  <% }) %>
</section>

<form id="add-enroute-form" action="/enroutes" method="POST">
  <label>Enroute</label>
  <input type="text" name="alt">
  <label>ETA:</label>
  <input type="text" name="eta">
  <input type="submit" value="Add Enroute">
</form>

<%- include('../partials/footer') %>
